{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="ginger-garlic-header-container">
    <div class="ginger-garlic-logo-fixed-container">
        <div class="ginger-garlic-logo">
            <img class="ginger-garlic-logo" src="{% static 'images/logo-01.png' %}">
        </div>
    </div>
</div>

<div class="cooking-made-simple-container">
    <div style="background-image: url('{% static 'images/01.png' %}')"
         class="cooking-made-simple-fixed-container">
        <div class="cooking-made-simple-text-container">
            <div class="cooking-made-simple-text">
                Cooking made simple, life made easy - at affordable prices!
            </div>
            <div class="procuring-ingridient-text">
                From procuring ingredients to delivering them and providing the right recipe for the meal you want to cook, GingerGarlic is there for you!
            </div>
        </div>
        <div class="register-contact-button-container">
                <div class="register-button-container">
                    <a class="typeform-share button" href="https://rakesh125.typeform.com/to/ptBOi0" data-mode="popup" style="display:inline-block;text-decoration:none;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:53px;text-align:center;margin:0;height:50px;;max-width:100%;white-space:nowrap;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Register </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                </div>
                <div class="contact-button-container">
                    <div class="contact-text">
                         <a class="typeform-share button" href="https://rakesh125.typeform.com/to/JhtKD9" data-mode="popup" style="display:inline-block;text-decoration:none;color:white;cursor:pointer;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:37px;text-align:center;margin:0;height:50px;max-width:100%;white-space:nowrap;font-weight:bold;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;" target="_blank">Contact Us </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                    </div>
                </div>
        </div>
    </div>
</div>

<div class="white-rectangle">
</div>

<div class="farm-fresh-container">
    <div class="farm-fresh-fixed-container">
        <div style="background-image: url('{% static 'images/02.png' %}')"
             class="farm-fresh-vegetable">
        </div>
        <div class="white-vertical-rectangle">
        </div>
        <div style="background-image: url('{% static 'images/03.png' %}')"
             class="chopped-vegetable">
        </div>
        <div class="farm-fresh-text-container">
            <div class="farm-fresh-text">
                Farm-fresh ingredients at your doorstep
            </div>
            <div class="chopping-text">
                We do all the chopping for you – you just need to prepare your meal fresh and enjoy it.
            </div>
        </div>
    </div>
</div>

<div class="white-rectangle">
</div>

<div class="spice-container">
    <div class="spice-fixed-container">
        <div style="background-image: url('{% static 'images/04.png' %}')"
             class="spice-items">
        </div>
        <div class="white-vertical-rectangle">
        </div>
        <div class="exotic-spices-container">
            <div class="spice-pic">
                <img class="spice-pic" src="{% static 'images/pepper_icon.png' %}">
            </div>
            <div class="exotic-spice-text">
                Exotic spices to spice up your life!
            </div>
            <div class="indians-understand-indians">
                We understand that Indian foods are incomplete without condiments and that only Indians understand
                Indian food and spices. Get the right spices for your meal!
            </div>
        </div>
    </div>
</div>

<div class="white-rectangle">
</div>

<div class="gourmet-treat-container">
    <div class="gourmet-treat-fixed-container">
        <div style="background-image: url('{% static 'images/05.png' %}')"
             class="rice-pic">
        </div>
        <div class="white-vertical-rectangle">
        </div>
        <div style="background-image: url('{% static 'images/06.png' %}')"
             class="naan-pic">
        </div>
         <div class="gourmet-treat-text-container">
            <div class="gourmet-fresh-text">
                Gourmet treat: what’s a meal without  Basmati?
            </div>
            <div class="gourmet-text-subtitle">
                We understand the love of Indians for rice and naan - after all, we love them too! So we provide
                Basmati rice and naan bread in the box.
            </div>
        </div>
    </div>
</div>

<div class="white-rectangle-red-container">
    <div class="white-rectangle-red">
    </div>
</div>

<div class="what-comes-box-container">
    <div style="background-image: url('{% static 'images/infographic.png' %}')"
         class="what-comes-box-fixed-container">
        <div class="what-comes-text">
            Your box for a complete delicious meal!
        </div>
    </div>
</div>

<div class="meat-lovers-container">
    <div class="meat-lovers-fixed-container">
        <div style="background-image: url('{% static 'images/07.png' %}')"
             class="chicken-pic">
        </div>
        <div class="white-vertical-rectangle">
        </div>
        <div style="background-image: url('{% static 'images/08.png' %}')"
             class="fish-pic">
        </div>
        <div class="farm-fresh-text-container">
            <div class="meat-lovers-text">
                You meat lovers haven’t been left behind, so come join us!
            </div>
            <div class="ginger-garlic-vendor">
                GingerGarlic collaborates with the BEST vendors, just to ensure you fresh seafood and meat.
            </div>
        </div>
    </div>
</div>

<div class="white-rectangle">
</div>

<div class="ready-made-food-container">
    <div class="ready-made-food-fixed-container">
        <div style="background-image: url('{% static 'images/pic10.jpeg' %}')"
             class="palak-paneer-pic">
        </div>
        <div class="white-vertical-rectangle">
        </div>
        <div class="result-container">
            <img class="garlic-icon" src="{% static 'images/garlic_icon.png' %}">
            <div class="result-text">
                So what’s the result? Come join us to find out!
            </div>
            <div class="ginger-garlic-result-note">
                GingerGarlic is an explosive combo of procurement, delivery,
                and variety, and we provide everything necessary!
            </div>
        </div>
    </div>
</div>

<div class="white-rectangle">
</div>

<div class="ginger-garlic-footer-container">
    <div class="footer-fixed-container">
        <div class="footer-text">
            You have everything you need to cook your own meal - in less than 30 minutes.
        </div>
    </div>
</div>