{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="ginger-garlic-header-container">
    <div class="ginger-garlic-logo-fixed-container">
        <div class="ginger-garlic-logo">
            <img class="ginger-garlic-logo" src="{% static 'images/logo-01.png' %}">
        </div>
    </div>
</div>

<div class="cooking-made-simple-container">
    <div style="background-image: url('{% static 'images/01.png' %}')"
         class="cooking-made-simple-fixed-container">
        <div class="cooking-made-simple-text-container">
            <div class="cooking-made-simple-text">
                Cooking made simple, life made easy - at affordable prices!
            </div>
            <div class="procuring-ingridient-text">
                From procuring ingredients to delivering them and providing the right recipe for the meal you want to cook, GingerGarlic is there for you!
            </div>
        </div>
        <div class="register-contact-button-container">
                <div class="register-button-container">
                    <div class="register-text">
                        Register
                    </div>
                </div>
                <div class="contact-button-container">
                    <div class="contact-text">
                        Contact Us
                    </div>
                </div>
        </div>
    </div>
</div>
