
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.ginger-garlic-header-container {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ginger-garlic-logo-fixed-container {
    width: 1365px;
    height: 199px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ginger-garlic-logo {
    width: 258px;
    height: 141px;
}

.cooking-made-simple-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cooking-made-simple-fixed-container {
    width: 1366px;
    height: 696px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.cooking-made-simple-text-container {
    width: 857px;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cooking-made-simple-text {
    width: 856px;
    height: 155px;
    font-family: Pacifico;
    font-size: 55px;
    text-align: center;
    color: #ffffff;
    line-height: 1.3em;
    padding-top: 62px;
}

.procuring-ingridient-text {
    width: 826px;
    height: 45px;
    font-family: Open Sans;
    font-size: 21px;
    text-align: center;
    color: #ffffff;
    padding-top: 10px;
}

.register-contact-button-container {
    width: 829px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.register-button-container {
    width: 187px;
    height: 58px;
    border-radius: 20px;
    border: solid 4px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.register-text {
    width: 101px;
    height: 35px;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #fefefe;
}

.contact-button-container {
    width: 187px;
    height: 58px;
    border-radius: 20px;
    border: solid 4px #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.contact-text {
    width: 131px;
    height: 30px;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #fefefe;
}






